/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2p', sans-serif;
  color: #99a3a3;
  background-color: rgb(28, 28, 28);
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #99a3a3;
}

main {
  height: 65vh;
  color: #99a3a3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #99a3a3;
  color: rgb(28, 28, 28);
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.above-instruction {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again-btn {
  background-color: #99a3a3;
  color: rgb(28, 28, 28);
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  /* border: 1rem solid rgb(28, 28, 28); */
  margin: 2rem;
  cursor: pointer;
}

.guess-number {
  background: none;
  border: 4px solid #99a3a3;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.check-btn {
  border: none;
  background-color: #99a3a3;
  color: rgb(28, 28, 28);
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.check-btn:hover {
  background-color: #626262;
}

.msg {
  margin-bottom: 8rem;
  height: 3rem;
}

.score-label {
  margin-bottom: 2rem;
}
